* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 300px;
	font-family: "Kumbh Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* Typography */

.modal-content {
	text-align: center;
	font-weight: bold;
	color: hsl(219, 9%, 45%);
}

.menu-list-item {
	list-style: none;
	font-weight: bold;
	font-size: 1.25rem;
}

.cart-content {
	color: hsl(219, 9%, 45%);
}

.cart-total-cost {
	color: black;
	font-weight: bold;
}

.cart-checkout {
	font-size: 1rem;
	font-weight: bold;
}
.cart-modal-header {
	font-weight: bold;
}

.content-company-name {
	letter-spacing: 2px;
}

.content-company-name,
.content-item-discount {
	color: hsl(26, 100%, 55%);
}

.content-item-description {
	color: hsl(219, 9%, 45%);
	line-height: 1.5em;
}

.content-item-price,
.content-item-discount,
.content-item-original-price {
	font-weight: bold;
}
.content-item-price {
	font-size: 2rem;
}

.content-item-discount {
	background-color: hsl(25, 100%, 94%);
}

.content-item-original-price {
	color: hsl(220, 14%, 75%);
}

.item-quantity > p {
	font-weight: bold;
}

.add-to-cart,
.cart-checkout {
	color: white;
	background-color: hsl(26, 100%, 55%);
}

.add-to-cart > p {
	font-weight: bold;
	font-size: 1rem;
}

.add-to-cart:active {
	background-color: hsl(25, 100%, 74%);
}

/* Styling */

.navigation-bar {
	display: flex;
	max-width: 1700px;
	margin: 0 auto;
	padding: 1.5em;
	align-items: center;
	justify-content: space-between;
}

.navigation-bar-item {
	display: flex;
	align-items: center;
	gap: 1em;
}

.navbar-desktop {
	display: none;
}

.cart-delete-icon {
	cursor: pointer;
}

.cart-checkout {
	padding: 1em;
	margin-top: 1.5em;
}

.menu-list {
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin-top: 4em;
}

.menu-list-item {
	cursor: pointer;
}

.cart-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart-content-info {
	display: flex;
	flex-direction: column;
}

.cart-content-info > p {
	margin: 0;
}

.cart-image {
	max-width: 50px;
	border-radius: 6px;
}

.icon-avatar {
	max-width: 30px;
}

.item-info-container {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 90%;
}

.main-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 700px;
	margin: 0 auto;
}

.main-image {
	width: 100%;
}

.image-thumbnail-container {
	display: flex;
	margin-top: 2em;
	gap: 2em;
}

.image-thumbnail-item {
	display: none;
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
}

.button-next,
.button-prev {
	padding: 1.5em;
	position: relative;
	top: 50%;
	border-radius: 50%;
}

.button-item {
	background: none;
	padding: 1em;
}

.button:active {
	transform: scale(90%);
}

.button-img {
	position: absolute;
	width: 30%;
}

.button-prev {
	left: 4em;
}

.button-next {
	right: 4em;
}

.content-item-price,
.content-item-discount {
	margin: 0;
}

.content-item-price-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content-item-current-price-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
}

.active-thumbnail {
	border: 2px solid hsl(26, 100%, 55%);
	border-radius: 12px;
	display: none;
}

.active-thumbnail-image {
	opacity: 0.4;
}

.content-item-discount {
	font-size: 1.1rem;
	border-radius: 8px;
	padding: 5px 10px;
}

.content-item-original-price {
	text-decoration: line-through;
}

.item-quantity,
.add-to-cart,
.cart-checkout {
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.item-quantity {
	background-color: hsl(223, 64%, 98%);
	justify-content: space-between;
	padding: 0.5em 1em;
}

.item-quantity > p {
	margin: 0;
}

.cart-quantity-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.add-to-cart,
.cart-checkout {
	justify-content: center;
	border: none;
	cursor: pointer;
	gap: 1em;
}

@media (min-width: 800px) {
	body {
		width: 90%;
		margin: 0 auto;
	}
	.navigation-bar {
		margin-bottom: 5rem;
		border-bottom: 1px solid hsl(220, 14%, 75%);
		padding: 3em 0;
	}
	.navbar-desktop {
		display: inline;
		margin: 0 auto 0 0;
	}

	.modal-menu {
		display: none;
	}
	.menu-list {
		flex-direction: row;
		margin: 0 auto 0 1rem;
	}
	.menu-list-item {
		font-weight: normal;
		font-size: 1rem;
		color: hsl(219, 9%, 45%);
	}
	.main-content {
		display: flex;
		gap: 5em;
		width: 90%;
		max-width: 1500px;
		margin: 0 auto;
	}

	.active-thumbnail {
		display: inline;
	}
	.button-next,
	.button-prev {
		display: none;
	}
	.content-item-price-container {
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}
	.cart-quantity-container {
		flex-direction: row;
	}
	.item-quantity {
		max-width: 200px;
	}
	.main-image-container,
	.item-info-container {
		width: 50%;
	}

	.main-image {
		border-radius: 10px;
	}
	.image-thumbnail-item {
		display: flex;
	}
}
